body {
  background-image: url(../images/fondo.jpg);
  background-repeat: no-repeat;
  background-size: 100% 110%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; /* Color de fondo para el cuerpo */
}

.container {
  text-align: center; /* Alinear contenido al centro */
}

.custom-board {
  display: inline-block; /* Convertir el contenedor en bloque en línea */
  width: 306px; /* Ancho total del tablero */
  height: 306px; /* Altura total del tablero */
  margin: 0 auto; /* Margen automático a los lados para centrar */
}

.custom-board table {
  width: 100%; /* Ancho completo de la tabla */
  height: 100%; /* Altura completa de la tabla */
  border-collapse: collapse; /* Colapso de los bordes de la tabla */
}

.custom-board td {
  width: 33.33%; /* Ancho de cada celda (33.33% para 3 celdas por fila) */
  height: 33.33%; /* Altura de cada celda (33.33% para 3 celdas por columna) */
  font-size: 3rem; /* Tamaño del texto */
  font-weight: bold; /* Negrita */
  text-align: center; /* Alinear texto al centro */
  vertical-align: middle; /* Alinear verticalmente al centro */
  border: 4px solid antiquewhite; /* Grosor del borde de cada celda */
}

.custom-board td.top-left {
  border-top: none;
  border-left: none;
}

.custom-board td.top-right {
  border-top: none;
  border-right: none;
}

.custom-board td.bottom-left {
  border-bottom: none;
  border-left: none;
}

.custom-board td.bottom-right {
  border-bottom: none;
  border-right: none;
}

.custom-board td.top {
  border-top: none;
}

.custom-board td.bottom {
  border-bottom: none;
}

.custom-board td.left {
  border-left: none;
}

.custom-board td.right {
  border-right: none;
}

.x {
  color: #db4747; /* Color rojo para la X */
  font-family: "Schoolbell", cursive;
  font-weight: bold;
  }

.o {
  color: #4ad854; /* Color rojo para la X */
  font-family: "Schoolbell", cursive;
  font-weight: bold;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.custom-board td.x.animated,
.custom-board td.o.animated {
    animation: fadeIn 1s ease-in-out;
}

.custom-board td:hover {
  animation: blink 1.3s infinite; /* Animación de parpadeo */
  cursor: url(../images/cursorTiza.png),auto; /* Cambio de cursor al pasar el mouse */
}

@keyframes blink {
  0%, 100% {
      background-color: rgba(211, 211, 211, 0.514);
  }
  50% {
      background-color: transparent;
  }
}

.pizarra {
  background-image: url(../images/pizarra.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 800px;
  background-position: center;
  align-items: center;
  text-align: center;
  border: 1px black solid;
}

h1 {
  font-family: "Schoolbell", cursive;
  color: antiquewhite;
  font-weight: bold;
}

.reinicio {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  font-family: "Schoolbell", cursive;
  color: antiquewhite;
  margin-bottom: 5px ;
}

#restartBtn {
  display: none;
}

.reinicio:hover {
  color: #c5d84a;
  cursor: url(../images/cursorBorrador.png),auto;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.sonidos{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.boton-estilo {
  font-family: 'Homer Simpson Revised', sans-serif;
  background-color: #158721; /* Color de fondo */
  border: 2px solid rgb(5, 66, 5);
  border-radius: 25px;
  color:rgb(225, 252, 231); /* Color del texto */
  padding: 15px 32px;
  min-width: 13rem;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: inset  0px -8px #0a5e10;
}

.boton-estilo:hover {
  background-color: rgb(39, 166, 30) /* Cambio de color en el hover */
}

.boton-estilo:active {
  background-color: #0a5e10; /* Cambio de color al hacer clic */
}
